* {
  box-sizing: border-box;
}

body {
  background-color: lightgreen;
}

main {
  margin: 30px auto;
  width: 960px;
  height: 960px;
  background-color: aliceblue;
}

#grid-container {
  border: 3px groove #aaa;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 120px 180px 120px 480px 120px;
}

#grid-container header {
  background-color: white;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  display: flex;
  gap: 30px;
  align-items: center;
  border-bottom: 3px groove #aaa;
}

#grid-container header img {
  height: 100%;
}

h1 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: darkblue;
}

#results-box {
  background-color: aliceblue;
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 3px groove #aaa;
}

#results-button {
  width: 50%;
  height: 20%;
  background-color: coral;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  color: darkblue;
  text-align: center;
}

#results-box ul {
  max-width: 90%;
  max-height: 90%;
  list-style-type: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 0.8rem;
  color: darkgreen;
  overflow: auto;
}

ul li {
  margin: 5px;
}

#click-box {
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#click-box div {
  width: 30%;
  height: 90%;
  border: 3px transparent;
}

#click-box div img {
  max-width: 90%;
  max-height: 90%;
}

#image-1-box {
  background-color: coral;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image-2-box {
  background-color: coral;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image-3-box {
  background-color: coral;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#instructions-box {
  background-color: aliceblue;
  grid-column: 2 / 5;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  color: darkgreen;
  border-top: 3px groove #aaa;
  border-bottom: 3px groove #aaa;
}

#lorem-box {
  background-color: aliceblue;
  grid-column: 2 / 5;
  grid-row: 4 / 5;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: auto;
}

#sagan p {
  padding: 5px;
}

#bar-chart {
  width: 95%;
  position: absolute center center;
  z-index: -1;
}

#grid-container footer {
  background-color: paleturquoise;
  grid-column: 1 / 5;
  grid-row: 5 / 6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
  color: darkblue;
  border-top: 3px groove #aaa;
}
